<!-- Used by theme-bio-builtin-1 -->

<div class="row">
    <div class="two wide column">
      <h3 class="ui left aligned header no-bottom">Certifications</h3>
    </div>
    
    <div class="fourteen wide column no-bottom">
      {% for entry in site.data.bio.certification %}    
      <div class="ui grid">
        <div class="twelve wide column no-bottom">
          <p class="ui no-bottom"><b>{{ entry.title }}, {{ entry.date }}</b></p>
          <p class="ui no-bottom">{{ entry.awarder }}</p>
          <p class="ui">{{ entry.summary }}</p>
          {% if entry.url}
            <p class="ui no-bottom"><a href="{{ entry.url }}">verify credential</a></p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    </div>